:root {
  --bs-primary: #9556c8;
  --bs-primary-rgb: rgb(149, 86, 200);

  --bs-primary-darker: #813CB9;
  --bs-primary-ligher: #9E65CD;

  --bs-secondary: #56287b;
  --bs-secondary-rgb: rgb(86, 40, 123);

  --bs-info: #c5a3e1;
  --bs-info-rgb: rgb(197, 163, 225);

  --bs-body-color: #2b143e;
  --bs-body-color-rgb: rgb(43, 20, 62);

  --bs-body-bg: #f5f0fa;
  --bs-body-bg-rgb: rgb(245, 240, 250);

  --bs-success: #7cc757;
  --bs-success-rgb: rgb(124, 199, 87);

  --bs-danger: #c75656;
  --bs-danger-rgb: rgb(199, 86, 86);
}

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
}

header p:hover{
  color: var(--bs-primary);
}

/* @media only screen and (max-width: 425px){
  
} */

a {
  text-decoration: none;
  color: var(--bs-body-color);
}
a:focus{
  outline: none;
}

a#addBtn{
  background-color: var(--bs-secondary);
}
a#addBtn:hover{
  background-color: var(--bs-primary);
}

input{
  color: var(--bs-body-color);
}
input::placeholder{
  color: var(--bs-secondary);
}
input:focus{
  outline: none;
}

footer {
  background-color: var(--bs-secondary);
}

#home-card {
  width: 100%;
  max-width: 550px;
  min-height: 280px;
}

 #home-card #left{
  width: 50%;
 }
 .btn{
  border: none;
 }

 .btn:active{
  border: none;
  outline: none;
 }

.btn.btn-primary {
  width: fit-content;
  background-color: var(--bs-primary);
  border: none;
}

.btn.btn-primary:hover {
  background-color: var(--bs-primary-ligher);
  /* TODO - transition maybe */
}

.btn.btn-primary:active {
  background-color: var(--bs-primary-darker);
}

.btn .text-secondary {
  color: var(--bs-secondary) !important;
}

@media only screen and (max-width: 768px){
  #home-card #left{
    width: 100%;
  }

  .flashcard{
    /* padding-bottom: 1.8rem !important; */
  }

 .flashcard .card-row{
    flex-wrap: wrap;
  }
  
  .answer, .question{
    width: 100% !important;
  } 
}

#searchIcon{
  color: var(--bs-secondary);
}

select#filter{
  background-color: transparent;
  color: var(--bs-body-color);
  cursor: pointer;
}

select#filter:focus{
  outline: none;
}


#card{
  width: 100%;
  max-width: 550px;
  height: 280px;
  cursor: pointer;
}

.flashcard{
  padding-bottom: 2rem !important;
}

